@import './core/_variables';
@import './core/_mixins';

main{
    padding:rem(40);
    max-width: rem(900);
    margin: auto;
}
.productList {
    display: grid;
    grid-template-columns: 1fr ;
    grid-row-gap: rem(20);
    grid-column-gap: rem(20);

    @include web {
        grid-template-columns: 1fr 1fr;
      }
  }

  