@import './core/_variables';
@import './core/_mixins';

.product{
    border:1px solid $color-border;
    position: relative;
    &__corner{    
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: rem(101) rem(161) 0 0;
        border-color: $color-light transparent transparent transparent;
        display: flex;
        &--price{
            position: relative;
            font-size:$font-medium-regular;
            top:rem(-60);
            font-family: $font-data;
            display: flex;
            align-items: baseline;
            margin: rem(-20) rem(30);
            span{
                font-size:$font-small;
            }
        }
    }

    &__image{
        display: flex;
        &--big{
            display: none;
        }
        @include web {
            &--big{
                display: block;
            }
            &--small{
                display: none;
            }
        }
    }

    &__users{
        background-color: $color-light;
        display: grid;
        grid-template-columns: 1fr 1fr;
        &--likes{
            border-right:1px solid $color-border;
        }
        &--likes, &--repost{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-top:1px solid $color-border;
            height: rem(61);
            &--count{
                line-height: 1;
                margin: rem(0);
                font-family: $font-data;
                font-size:$font-medium;
                color:$color-medium;
                @include web {
                color:$color-light;
                }
            }
            &--button {
                background: none;
                margin: rem(0) rem(7);
                color: inherit;
                border: none;
                padding: 0;
                cursor: pointer;
                outline: inherit;
                width: rem(36);
                height: rem(36);
                background-size: cover;
                filter: $filter-unliked-mobile;
                &.liked
                { 
                    filter: $filter-liked;
                }
                @include web {
                    filter: $filter-unliked-web;
                    margin: rem(0);
                    &:hover &__image:before{
                        content: '';
                        position:absolute;
                        top:0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 1;
                        background: $hover-gradient;   
                    }
                }
            }
            @include web {
                display: flex;
                flex-direction: column;
                border: none;
            }
            
        }
        &--likes{
            @include web {
            flex-direction: column-reverse;
            margin-bottom:rem(20);
            }
        }
        @include web {
            display: none;
        }
    }
    &__text{
        height: rem(100);
        font-weight: $font-weight-regular;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $color-light;
        &--title{
            font-size: $font-medium-large;
            color: $color-dark;
            font-family: $font-title;
            text-align: center;
        }
        &--author{
            font-size: $font-medium-regular;
            font-family: $font-author; 
            text-align: center;
            span{            
                color: $color-medium-light;
            }
        }
    }
    @include web {
        &:hover &__users{
            display : flex;
            flex-direction: column;
            background: transparent;
            position: absolute;
             padding:rem(20);
            z-index: 1;
            top: 0;
            right: 0;
        }
        &:hover &__image:before{
            content: '';
            position:absolute;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background: $hover-gradient;
        }
    }
}