//COLORS
$color-background: #F6F6F6;
// $color-medium: #6b6b6b;//NEW VARIABLE CREATD BY AMANDA
$color-light: #ffffff;
$color-medium-light:#c2c2bd; 
$color-dark: #000000;

// $color-medium-extralight: #d8d8d8;
// $color-secondary-dark: #e17334;
// $color-secondary-light: #f9f4dc;
// $color-form-placeholder: #c5c5c5;
// $color-twitter-blue: #00a0f5;

//PALETTES
// $color-primary-dark: #114e4e;
// $color-primary-medium: #438792;
// $color-primary-light: #a2deaf;

//FONTS
$font-regular: 16;
$font-medium: 25px;
$font-medium-large: 29px;
@import url(//db.onlinewebfonts.com/c/07bf042b884e563aa8f7a9062bfc8834?family=Neutraface+2+Text+Bold);
$font-primary: "Neutraface2 Text";//, sans-serif; !!!!!!!!!!!!!!!!!!!!!!!!!!!
// $font-weight-semibold: 600;
$font-secondary: 'Droid Serif';//, sans-serif; !!!!!!!!!!!!!!!!!!!!!!!!!!!
$font-weight-regular: 400;
// $font-weight-bold: 700;
// $font-terciary: 'Merriweather', serif;

// breakpoints
$web: 768px;
